body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

button {
  width: 75px;
  height: 50px;
}

.game-mode {
  margin-bottom: 15px;
}

.game-mode > button {
  background-color: rgb(207, 207, 207);
  border: 1px solid #afafaf;
  border-radius: 5%;
}

.game-mode > button:hover {
  background-color: rgb(160, 160, 160);
}

.game-container {
  border: 1px black solid;
  border-radius: 10px;
  padding: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-container {
  position: relative;
  width: 150px;
  height: 150px;
}

.pokemon-image {
  width: 150px;
  position: absolute;
}
